<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Not found</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h1>It's not here</h1>

    <p class="diagnostic">
    You asked for &ldquo;{{ badurl }}&rdquo;<br />
    I looked, but I didn't find it.
    </p>
    <p>Maybe try <a href="{{ linkback }}">here</a>?</p>

    <p class="lyrics">
    But it's too late to say you're sorry<br />
    How would I know, why should I care?<br />
    Please don't bother trying to find her<br />
    She's not there<br />
    <span class="attribution">&nbsp;&nbsp;&mdash; Rod Argent (The Zombies), 1964</span>
    
    </p>
</div>
</body>
</html>